<!DOCTYPE html>
<html>
  <head>
    <meta charsset="utf-8">
    <title>Some Web Site</title>
  </head>
  <body>
    {{> header}}
    <p>{{screamIt welcomeMessage}}</p>
    {{> footer}}
  </body>
</html>
